body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color:#2C3E50;
    color: #ECF0F1;
    display: flex;
    justify-content: center;
    height: 15vh;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    margin-right:40px;
}
.logo h1 {
    margin: 0 20px 0 0 ;
}

h1, h2, h3{
    color: #FF9800;
    text-align: center;
    margin-bottom: 10px;
}

ul { list-style: none;
     padding-left: 5px; 
     text-align: center;
}
a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
a:hover{
    background-color: #111;
    color: #ECF0F1; 
}

.bar {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:#003366;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.bar ul li{
    display:inline-block;
    padding-inline:15px;

}
main{
    width: 100%;
    background-color:#ECF0F1 ;
    color: #2C3E50;
}
.search {
    display:inline-block;
    align-items: center;
}
.search input {
    padding: 5px;
    margin-right: 5px; 
}

.content {
    padding: 0;
    max-width:auto;
    margin: 0;
    display: grid;
    gap:0;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);   
}

.anchors {
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:#BDC3C7 ;
    color:#2C3E50 ;  
}
.anchors img{
    width:250px;
}

.anchors ul li{
    display:block;
    margin: 0 10px;
    margin-bottom:10px;  
}
.tabela{
    border-collapse: collapse;
    width: auto;
}
.tabela td,tr {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}
.tabela th{
    text-align: center;
    background-color: #ff9800;
}

.sidebar {
    background-color:#f0f0f0;
    border-right: solid 1px #cdcdcd;
    color: #ECF0F1 ;
}
.sidebar ul li{
    display:block;
    margin: 0 10px;
    margin-bottom:10px; 
}
figure {
    text-align: center;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.Rodapé {
    background-color:#2C3E50 ;
    color:#ECF0F1 ;
    padding: 20px;
    text-align: center;
}
.Rodapé h4{
    color: #FF6F00;
    margin-bottom: 10px;
}
.Rodapé p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.Rodapé ul li{
display: inline-block;
margin: 0 10px;
margin-bottom:10px;  
}

.Personagens{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.Personagens img {
    margin-right: 20px;
}
.Personagens p {
    flex: 1;
    margin: 0;
    line-height: 1.6;
}
